.records {
    position: relative;
    background-color: $main-color;
    padding: 5.2rem 0;
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-column-gap: 1.5rem;
        grid-row-gap: 2rem;
    }
    &__circle {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin: 0 auto;
        border: 4px solid $light-one;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $light-one;
        .number {
            font-weight: 400;
            font-size: 2.35rem;
            @media (max-width: 1400px) {
                font-size: 1.8rem;
            }
        }
        .sub-title {
            @media (max-width: 1400px) {
                font-size: 0.9rem;
            }
        }
    }
    .active {
        background-color: $light-one;
        color: $dark-one;
        box-shadow: 0 0 0 15px rgb(255, 255, 255, 0.5);
    }
    .overlay.overlay-sm {
        .shape {
            filter: brightness(0) invert(1);
            opacity: 0.15;
            height: 40px;
            position: absolute;
        }
        .square1 {
            left: 8%;
            top: 10%;
        }
        .square2 {
            right: 90px;
            bottom: 70px;
        }
        .circle {
            left: 7%;
            bottom: 50px;
        }
        .half-circle {
            top: 30px;
            right: 50%;
        }
        .wave1 {
            height: initial;
            width: 70px;
            top: 35px;
            right: 30%;
        }
        .wave2 {
            height: initial;
            width: 70px;
            bottom: 40px;
            left: 28%;
        }
        .xshape {
            height: 30px;
        }
        .xshape {
            top: 45px;
            right: 120px;
        }
        .triangle {
            left: 65%;
            bottom: 35px;
        }
    }
}

//Tema Escuro
.dark {
    .records {
        background-color: $portifolio-background-dark;
        &__circle {
            border: 4px solid $main-color-dark;
            color: $main-color-dark;
            .number {
                color: $main-color-dark;
            }
        }
    }
}
